[tool.poetry]
name = "smallgraphlib"
version = "0.4.0"
description = "Simple library for handling small graphs, including Tikz code generation."
authors = ["Nicolas Pourcelot <nicolas.pourcelot@gmail.com>"]
repository = "https://github.com/wxgeo/smallgraphlib"
license = "GPL-3.0-or-later"
readme = "README.md"
keywords = ["graph", "tikz", "latex"]

[tool.poetry.dependencies]
python = "^3.8"

[tool.poetry.dev-dependencies]
pytest = "^7"
mypy = "^0.960"
flake8 = "^4.0.1"
black = "^22.1.0"
tox = "^3.24.5"
sphinx-autodoc-typehints = "^1.18.3"
sphinx-rtd-theme = "^1.0.0"
myst-parser = "^0.18.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"



[tool.tox]
legacy_tox_ini = """
[tox]
skipsdist = true
envlist = py38

[testenv]
whitelist_externals = poetry
commands =
    poetry install -v
    poetry run pytest tests
    poetry run mypy smallgraphlib tests
    poetry run flake8 --max-line-length 110 --ignore=E203,W503,W391
"""
